:root {
  --primary-color: #1761a0;
  --secondary-color: #ffc72d;
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  color: var(--primary-color);
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #ffda75;
}

#header {
  position: fixed;
  width: 100%;
  height: 3rem;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
}

#nav-bar > a {
  max-height: 100%;
  max-width: 100%;
  text-decoration: none;
}

.nav-link-button {
  cursor: pointer;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 1rem;
  font-size: 1rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: 500;
  margin: 0;
}

.nav-link:hover {
  color: #eee;
  transition-property: background-color, color;
  transition-duration: 0.2s;
}

#layout {
  padding-top: 3rem;
}

#form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  margin-bottom: 1rem;
}

#email,
#submit {
  height: 100%;
  border: none;
  color: var(--primary-color);
  font-size: 1rem;
}

#email {
  padding-left: 0.5rem;
}

#submit {
  /* width: 5rem; */
  background-color: var(--secondary-color);
  cursor: pointer;
  padding: 0 1rem;
}

#email::placeholder {
  color: var(--primary-color);
  opacity: 1; /* Firefox */
}

#title,
#subtitle {
  text-align: center;
  color: var(--primary-color);
}

#title {
  margin-bottom: 0.5rem;
}

#subtitle {
  margin-top: 0.5rem;
}

#video-section {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
}

#video {
  outline: none;
  box-shadow: 2px 2px 2px rgba(255, 199, 45, 0.6);
}

#how-it-works,
#features {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

#pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  width: 100%;
}

#package-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.package {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 0 2rem;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
}

.package-header {
  text-align: center;
  width: 100%;
  background-color: #ffc72d;
  padding: 1rem 0;
  margin-top: 0;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  margin-bottom: 0.2rem;
}

.package-content {
  padding: 1rem;
  margin-top: 0;
}

.step,
.feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.step > p,
.feature > p {
  width: 17rem;
  font-size: 1.2rem;
}

.icon {
  fill: #1761a0;
  height: 4rem;
  width: 4rem;
  margin-right: 2rem;
}

#footer {
  width: 100%;
  height: 3rem;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
}

#footer > p {
  padding: 0 2rem;
}

@media screen and (max-width: 60rem) {
}
